@import url('https://fonts.googleapis.com/css?family=Akronim');
@import url('https://fonts.googleapis.com/css?family=Lato');
$fuente :'Lato';
$fondoAzul : #449AF5;
*{
 font-family: $fuente;

}


body {

    background-color: $fondoAzul;
}

#cabecera {
    display: flex;
    justify-content: center;


    h1 {
        font-family: $fuente;
        color: white;
        font-size: 4em;
        margin-top: 0.1em;

    }
}

#galeria {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: center;

    div {
        display: flex;
        justify-content: center;
        flex-flow: column nowrap;
        margin: 0.5em 0.5em 0.5em 0.5em;

        img {
            width: 14em;
            height: 17em;
            margin: 0.2em 0.2em 0.2em 0.2em;
            border-radius: 10%;
        }

        p {

            font-family: $fuente;
            max-width: 14em;
            margin: 1em 1em 0em 1em;
        }

        h4 {
            max-width: 10em;
        }

        div {
            display: inline;
            margin: 0.1em;
        }


    }
}

section {
    display: flex;
    justify-content: center;
}


img {
    margin: 1em 1em 1em 1em;
}

.moduloBusqueda {

    display: flex;
    justify-content: center;
    margin-bottom: 3em;

    button {

        margin-left: 4em;
    }

}

#fecha {
    font-size: 6pt;
}

h6 {
    font-size: 9pt;

}

#contenedor {
    
    div {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin: 1em 1em 1em 1em ;
      div{
          display:flex;
          flex-direction: column;
          background-color: white;
          h1{
             
              font-size: 6em;
              margin-top:0%;
              text-align: center;
          }
      }
    }

    img {
        width: 60em;
        -webkit-box-shadow: -25px 25px 42px -9px rgba(0, 0, 0, 0.47);
        -moz-box-shadow: -25px 25px 42px -9px rgba(0, 0, 0, 0.47);
        box-shadow: -25px 25px 42px -9px rgba(0, 0, 0, 0.47);
        border-radius: 5%;

    }

    p {
        
        width: 30em;
        margin: 0 1em 1em 1em;
    }
    #fecha {
        left:10em;
        margin-left:10em;
        
    }
}